<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>

    <add key="PAT" value=""/>
    <add key="idQueryHighPriority" value="2eff261b-613f-47de-8836-1703518ce397"/>
    <add key="HighPriorityBugsConnectorUrl" value="https://diqc.webhook.office.com/webhookb2/56b1ab8a-152f-4ed4-abbb-917d3853f2c5@9b7049b2-1963-4c44-b851-b47c5e818b0e/IncomingWebhook/fe9dd5fc1b8c4fe3aec13562b825a2a3/605844fa-0df0-461b-8ae9-0e00f1744efd"/>
  </appSettings>
</configuration>